.container {
  width: min(1080px, calc(100% - 64px));
  max-width: 1080px;
  margin: 0 auto;

  &.tight {
    max-width: 450px;
  }

  &.wide {
    max-width: 960px;
  }
}

@media (width <= 680px) { .container { width: calc(100% - 32px); } }
